body, html {
  height: 100%;
  width: 100%;
}

body {
  font-size: 14px;
}

header {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1, h2, h3, form, ul, li {
  font-weight: 500;
}

.container {
  max-width: 800px;
}

.hero-image {
  background-color: #052F3F;
}

.hero-text {
  color: #1A3FF3;
}